@import "../styles/mixins.scss";

.wrapper {
  justify-content: center;
  display: flex;
  margin-top: 75px;
  .mainBlock {
    display: flex;
    @include container;
    gap: 0.25%;

    .section {
      display: flex;
      width: clamp(500px, 100%, 1000px);
      box-sizing: border-box;
    }
  }
}
