@import "../../styles/mixins.scss";

.header {
  padding: 0.25%;
  // margin: 0.25%;
  border: 2px solid var(--text-color);
  border-radius: 8px;
  justify-content: center;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: var(--bg-color);

  .wrapper {
    justify-content: space-between;
    display: flex;
    @include container;

    .logo {
      width: 50px;
      filter: invert(100);
    }

    .profile {
      display: flex;
      flex-direction: row;
      box-sizing: border-box;

      .profileText {
        display: flex;
        color: var(--text-color);
        align-items: center;
        font-size: 1.1em;
      }

      .profileAvatarImg {
        box-sizing: border-box;
        height: 100%;
        width: 50px;
        border-radius: 100%;
        margin-left: 1vw;
      }

      .toggle-switch {
        align-items: center;
        position: relative;
        width: 56px;
        height: 30px;
        margin-right: 10px;
        .themeText {
          font-size: smaller;
          color: var(--text-color);
          display: flex;
          justify-content: center;
          // margin: 2px;
        }

        .toggle-input {
          opacity: 0;
          width: 0;
          height: 0;
          &:checked + .toggle-label {
            background-color: var(--thirdColor);
          }
          &:checked + .toggle-label::before {
            transform: translateX(26px);
          }
        }
        .toggle-label {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          transition: 0.4s;
          border-radius: 34px;
          cursor: pointer;
          &::before {
            position: absolute;
            content: "";
            height: 22px;
            width: 22px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: 0.4s;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
